<div class="card">
    <div class="card-image">
        <img src="{{item.thumbnail}}" class="card-img-top" alt="{{item.title}}">
    </div>
    <div class="card-body text-center">
      <h5 class="card-title">{{item.title}}</h5>
      <h6 class="product-category">{{item.category}}</h6>
      <h6><span class="product-price">{{item.price | priceReduced:item.discountPercentage }} $</span> <span class="regular-price">{{item.price}} $</span></h6>
      <!-- <p class="card-text">{{item.description}}</p> -->
      <button (click)="addToCard()" *ngIf="!item.isAddedToCart" class="btn btn btn-success">Add to cart</button>
      <button (click)="removeFromCard()" *ngIf="item.isAddedToCart" class="btn btn-outline-danger">Remove from cart</button>

     
    </div>
  </div>